p{
    color: chartreuse;
    visibility: visible ;
    border-color: black;
    background-color:brown ;
}
div{
    color: whitesmoke;
}
h1{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}

h3{
    color: whitesmoke;
}
h4{
    color: whitesmoke;
}
h5{
    color: whitesmoke;
}