<div>
  <h2>
    Добро пожаловать, {{name}}
  </h2>
  <input type="text" [(ngModel)]="name">
  <input type="number" [(ngModel)]='age'>
</div>
<h2>Количество кликов {{clicks}}</h2>
<app-child ([userName])='name' [userAge]='age' (onChanged)='onChanged($event)'></app-child>
<div>
  <ul class="nav">
    <li
     routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'><a routerLink=''>Главная</a> <br>
    </li>
    <li routerLinkActive='active'><a routerLink='/about'>О сайте </a>
    </li>
    <li routerLinkActive='active'><a [routerLink]='["item","5"]' [queryParams]="{'product':'phone','price':'200'}">Item 5 </a>
    </li>
    <li routerLinkActive='active'><a [routerLink]='["item","8"]' [queryParams]="{'product':'tablet','price':'1000'}">Item8 </a>
    </li>
    </ul>
  <h3>Router  </h3>
  <router-outlet></router-outlet>
</div>