input{
    border-color: yellow ;
    color: yellowgreen;
}
div{
    color: whitesmoke;
}
h1{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}

h3{
    color: whitesmoke;
}
h4{
    color: whitesmoke;
}
h5{
    color: whitesmoke;
}